body {
  background-color: #B7AC44;
  font-family: 'Oswald', sans-serif;
  image: https://elkgroveses.com/image/137722-full_cute-cartoon-png-image-cartoon-pizza-slice-transparent.png
}


.box-decore {
  background-color: rgba(142, 211, 211, 0.7);
  margin-top: 55px;
  padding: 25px;    
  box-shadow: 1px 1px 15px -4px rgba(0,0,0,.2);
  color: #DF362D;
}

.order {
  display: none;
  margin-top: 55px;
}